# Ignore everything by default
*

# --- EXCEPTIONS ---
# Do NOT ignore LPR.py
!LPR.py

# Do NOT ignore the .gitignore file itself
!.gitignore

# Do NOT ignore README.md 
!README.md file

# Do NOT ignore requirements.txt
!requirements.txt